html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: #435058;
    margin: 0;
    padding: 0;
}

/* Header Area */
.header {
    background-color: #354046;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }

#rpsTitle {
    font-size: 60px;
    font-weight: 600;
    color: #ff5384;
    /* text-shadow: 3px 3px #db0340; */
}

#author {
    font-size: 15px;
    font-weight: 200;
    color: #F1F2EE;
}
/*  */

/* Info and Scoreboard */
.playArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.information {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.playerVsComputer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.choiceBox {
    background-color: #ff5384;
    padding: 50px;
    border-radius: 30px;
}

.scoreboard {
    display: flex;
    flex: 0;
    justify-content: center;
    gap: 50px;
    background-color: #ff5384;
}

.pcText {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    color:#F1F2EE;
    font-size: 20px;
    font-weight: 200;
}

.pcButton {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
    border-radius: 100px;
    background-color: #354046;
    font-size: 50px;
    box-shadow: 3px 3px #22282c;
}

/*  */


/* Button Area */

#roundResult, #rulesText, #vsText, #weaponText {
    font-size: 25px;
    font-weight: 600;
    color: #F1F2EE;
}

#rulesText {
    color: #fda8c0;
}

.buttonContainer{
    padding: 10px;
    background-color: #354046;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.selectionButton {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
    border-radius: 100px;
    background-color: #ff5384;
    font-size: 50px;
    box-shadow: 3px 3px #94002a;
}

.selectionButton:hover {
    background-color: #FF779E;
    cursor: grab;
}
/*  */
